<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="include/admin/adminHeader::html('分类管理')"></div>
    <link href="css/back/style.css" rel="stylesheet">
    <script src="js/login/login.js"></script>
</head>
<body>
<div id="login">
    <img width="1536px" height="721px" src="img/selt/1.png">
    <div class="adminLogin">
        <div>
            <div v-if="isbool" class="Login"><span id="empty" class="glyphicon glyphicon-minus-sign">{{emptys}}</span></div>
            <div v-else>账号登录</div>
        </div>

        <div>
            <div class="glyphicon glyphicon-user"></div>
            <input type="text" placeholder="输入手机号或会员名" v-model.trim="bena.name">
        </div>

        <div>
            <div class="glyphicon glyphicon-lock"></div>
            <input type="password" v-model.trim="bena.password">
        </div>

        <div>
            <a href="" class="pull-left">忘记密码</a>
            <a href="adminRegister" class="pull-right">免费注册</a>
        </div>

        <div>
            <button @click="login">登录</button>
        </div>
    </div>
</div>
</body>
</html>